<!DOCTYPE html>
<html>
<head>
  <title>TravelKeep</title>
  <%= favicon_link_tag asset_path('icons8-travel-diary-16.png') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="https://kit.fontawesome.com/9191ab314f.js" crossorigin="anonymous"></script>
</head>
<body>
  
  <nav class="top-bar ">
    <h1>
      <a href="/destinations"><%= image_tag("icons8-travel-diary-50.png", :class => "header-image", :alt => "travel icon") %></a>
      <a href="/destinations" class="travel-keep-header">Travel Keep</a>
    </h1>

    <section class="top-bar-section">
      <%- if current_user -%>
        <button type="button" class="button">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </button>
      <%- else -%>
        <button type="button" class="button">
          <%= link_to 'Sign In', new_user_session_path %>
        </button>
      <%- end -%>
    </section>

    <ul class="sticky-social-bar">
      <li class="social-icon">
        <a href="#"> 
          <i class="fa fa-plus-square addMore" title="Add New Destination" aria-hidden="true"></i>
          <span class="social-icon-text">Add Destination</span>
        </a>
      </li>
      <li class="social-icon">
        <a href="#">
          <i class="fa fa-calculator addMore" title="Check Flight Cost" aria-hidden="true"></i>
          <span class="social-icon-text">Where to Next?</span>
        </a>
      </li>
    </ul>

  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
  <nav class="bottom-bar ">
    <a class="align-left" href="#">About the Creator</p>
    <a class="align-right" href="https://www.linkedin.com/in/kwong402/" target="_blank">LinkedIn</p>
    <a class="align-right" href="https://github.com/kwong402" target="_blank">GitHub</p>
  </nav>
</body>
</html>